
@{
    ViewData["Title"] = "Planos";
}

<div>

</div>
<h1>Planos</h1>

<div id="IdcarouselPlanos" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators1" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators2" data-slide-to="1"></li>
        <li data-target="#carouselIndicators3" data-slide-to="2"></li>
        <li data-target="#carouselIndicators4" data-slide-to="3"></li>
    </ol>
    <div class="card-deck carousel-inner col-md-12">
        <div class="col-md-4 carousel-item active">
            <div class="card text-black-50 d-block w-100 bg-light mb-md-4">
                <img src="~/src/img/Logo.png" class="card-img-top" alt="...">
                <div class="card-header">WebSystemUsers</div>
                <div class="card-body">
                    <h5 class="card-title">Plano <br>Essencial</h5>
                    <p class="card-text">Pacote Inicial de serviços da Plataforma</p>
                    <a href="#carouselIndicators1" class="btn btn-primary">Iniciar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">N requisições</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 carousel-item">
            <div class="card text-black-50 d-block w-100 bg-light mb-md-4">
                <img src="~/src/img/Logo.png" class="card-img-top" alt="...">
                <div class="card-header">WebSystemUsers</div>
                <div class="card-body">
                    <h5 class="card-title">Plano <br>Basico</h5>
                    <p class="card-text">Pacote Basico de serviços da Plataforma</p>
                    <a href="#carouselIndicators2" class="btn btn-primary">Iniciar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">N requisições</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 carousel-item">
            <div class="card text-black-50 d-block w-100 bg-light mb-md-4">
                <img src="~/src/img/Logo.png" class="card-img-top" alt="...">
                <div class="card-header">WebSystemUsers</div>
                <div class="card-body">
                    <h5 class="card-title">Plano <br>Intermediario</h5>
                    <p class="card-text">Pacote Intermediario de serviços da Plataforma</p>
                    <a href="#carouselIndicators3" class="btn btn-primary">Iniciar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">N requisições</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 carousel-item">
            <div class="card text-black-50 d-block w-100 bg-light mb-md-4">
                <img src="~/src/img/Logo.png" class="card-img-top" alt="...">
                <div class="card-header">WebSystemUsers</div>
                <div class="card-body">
                    <h5 class="card-title">Plano <br>Avançado</h5>
                    <p class="card-text">Pacote Avançado de serviços da Plataforma</p>
                    <a href="#carouselIndicators4" class="btn btn-primary">Iniciar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">N requisições</small>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-black-50" href="#carouselIndicators" role="spinbutton" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next text-black-50" href="#carouselIndicators" role="spinbutton" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
