@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao WebSystemUsers</h1>
    <br />
    <br />
    <img src="~/src/img/Logo.png" />
    <br />
    <p><a href="/">Empoderando influencers e empresas!</a>.</p>
</div>
<div class="container">
    <div class=" col-md-auto text-center">
        <p class="h5">
            
            <br />
            FiFeelings é uma plataforma focada na obtenção de valor através da análise de dados gerados em redes sociais empoderando influencers e empresas dos mais diversos nichos com preços a partir de R$ 19,00 /mês.
            <br />
            <br />
        </p>
    </div>
</div>

<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr class="">
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">RM</th>
                <th scope="col">Atividade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Carlos Eduardo Barbosa</td>
                <td>335518</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Daniel Gregoris Guarino</td>
                <td>335398</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Fabio de Campos Bordin</td>
                <td>336263</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Fernando Bareno Calo</td>
                <td>335434</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
